In [142]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

In [143]:
cars=pd.read_csv("Car Price.csv")

In [185]:
cars.head()

,Brand,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,1,2007,60000,70000,2,1,1,1
1,1,2007,135000,50000,2,1,1,1
2,2,2012,600000,100000,1,1,1,1
3,16,2017,250000,46000,2,1,1,1
4,5,2014,450000,141000,1,1,1,2

In [187]:
cars[cars["Brand"]==3]

,Brand,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
46,3,2014,1050000,50000,1,1,1,1
50,3,2009,411000,120000,1,1,1,2
61,3,1996,250000,35000,1,1,1,2
71,3,2017,570000,60000,1,1,1,1
90,3,2015,750000,70000,1,1,1,1
...,...,...,...,...,...,...,...,...
4230,3,2015,350000,120000,1,1,1,3
4234,3,2018,509999,15000,2,1,1,1
4255,3,2014,650000,218000,1,1,1,2
4328,3,2012,200000,112198,1,1,1,2
4332,3,2015,750000,120000,1,1,1,1

In [145]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4340 non-null   object
 1   Model          4340 non-null   object
 2   Year           4340 non-null   int64
 3   Selling_Price  4340 non-null   int64
 4   KM_Driven      4340 non-null   int64
 5   Fuel           4340 non-null   object
 6   Seller_Type    4340 non-null   object
 7   Transmission   4340 non-null   object
 8   Owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [146]:
#we are going to drop model column
cars.drop("Model",axis=1,inplace=True)

In [147]:
cars.head()

,Brand,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [152]:
cars.duplicated().sum()

0

In [153]:
cars.drop_duplicates(inplace=True)

In [156]:
cars.isnull().sum()

Brand            0
Year             0
Selling_Price    0
KM_Driven        0
Fuel             0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [158]:
cars.shape

(3550, 8)

### data preprossing

In [159]:
cars["Brand"].value_counts().index

Index(['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Ford', 'Honda', 'Toyota',
       'Chevrolet', 'Renault', 'Volkswagen', 'Nissan', 'Skoda', 'Fiat', 'Audi',
       'Datsun', 'BMW', 'Mercedes-Benz', 'Jaguar', 'Mitsubishi', 'Land',
       'Volvo', 'Jeep', 'Ambassador', 'MG', 'OpelCorsa', 'Daewoo', 'Force',
       'Isuzu', 'Kia'],
      dtype='object', name='Brand')

In [160]:
#lebel encoding 
cars["Brand"].replace(['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Honda', 'Ford', 'Toyota',
       'Chevrolet', 'Renault', 'Volkswagen', 'Skoda', 'Nissan', 'Audi', 'BMW',
       'Fiat', 'Datsun', 'Mercedes-Benz', 'Jaguar', 'Mitsubishi', 'Land',
       'Volvo', 'Ambassador', 'Jeep', 'MG', 'OpelCorsa', 'Daewoo', 'Force',
       'Isuzu', 'Kia'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29],inplace=True)

In [161]:
cars.head()

,Brand,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,1,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,16,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,5,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [162]:
cars['Seller_Type'].value_counts().index

Index(['Individual', 'Dealer', 'Trustmark Dealer'], dtype='object', name='Seller_Type')

In [163]:
cars['Transmission'].value_counts().index

Index(['Manual', 'Automatic'], dtype='object', name='Transmission')

In [164]:
cars['Owner'].value_counts().index

Index(['First Owner', 'Second Owner', 'Third Owner', 'Fourth & Above Owner',
       'Test Drive Car'],
      dtype='object', name='Owner')

In [165]:
cars['Fuel'].value_counts().index

Index(['Diesel', 'Petrol', 'CNG', 'LPG', 'Electric'], dtype='object', name='Fuel')

In [166]:
cars["Fuel"].replace(['Diesel', 'Petrol', 'CNG', 'LPG', 'Electric'],[1,2,3,4,5],inplace=True)
cars["Seller_Type"].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)
cars["Transmission"].replace(['Manual', 'Automatic'],[1,2],inplace=True)
cars["Owner"].replace(['First Owner', 'Second Owner', 'Third Owner', 'Fourth & Above Owner',
       'Test Drive Car'],[1,2,3,4,5],inplace=True)

In [167]:
cars.head()

,Brand,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,1,2007,60000,70000,2,1,1,1
1,1,2007,135000,50000,2,1,1,1
2,2,2012,600000,100000,1,1,1,1
3,16,2017,250000,46000,2,1,1,1
4,5,2014,450000,141000,1,1,1,2

In [168]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3550 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          3550 non-null   int64
 1   Year           3550 non-null   int64
 2   Selling_Price  3550 non-null   int64
 3   KM_Driven      3550 non-null   int64
 4   Fuel           3550 non-null   int64
 5   Seller_Type    3550 non-null   int64
 6   Transmission   3550 non-null   int64
 7   Owner          3550 non-null   int64
dtypes: int64(8)
memory usage: 249.6 KB

In [170]:
#droping the selling price column that is the target column in this data set
x=cars.drop('Selling_Price',axis=1)
y=cars["Selling_Price"]

In [171]:
x.head()

   Brand  Year  KM_Driven  Fuel  Seller_Type  Transmission  Owner
0      1  2007      70000     2            1             1      1
1      1  2007      50000     2            1             1      1
2      2  2012     100000     1            1             1      1
3     16  2017      46000     2            1             1      1
4      5  2014     141000     1            1             1      2

Now we having only 7 columns for building pridiction

In [172]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [173]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((2485, 7), (1065, 7), (2485,), (1065,))

In [174]:
model=LinearRegression()

In [175]:
model.fit(x_train,y_train)

LinearRegression()

In [176]:
predict=model.predict(x_test)

In [177]:
predict

array([635618.67110853, 457828.55381101, 177867.47780092, ...,
       381721.55491474, 444083.63114862, 573490.33014248])

In [193]:
input_data=pd.DataFrame([[1,2007,70000,2,1,1,1]],
                        columns=["Brand","Year","KM_Driven","Fuel","Seller_Type","Transmission","Owner"])

In [196]:
round(model.predict(input_data)[0],2)

32315.8

In [198]:
import pickle as pk

In [200]:
pk.dump(model,open("car_price_pridiction_model.pkl","wb"))